@model WebApplication3.EntityLayer.Areas.BookingFlow.Booking

@{
    ViewData["Title"] = "FinalizeReservation";
}

<h1>Datos de reserva</h1>

<br />
<hr />
<br />

<h4>Realizó la reserva:</h4>

<div class="ticket">
    <div class="ticket-header">
        <h5>PASE DE ABORDAJE</h5>
    </div>
    <h5>Datos de contacto:</h5>
    <p><span class="strong-txt">Nombre: </span> @Model.Contact.Name</p>
    <p><span class="strong-txt">Tel&eacute;fono: </span>@Model.Contact.Phone.ToString()</p>
    <p><span class="strong-txt">E-mail: </span>@Model.Contact.Email</p>

    <hr />

    <h5>Datos de vuelo:</h5>

    <span class="strong-txt">Fecha de partida:</span>
    <p>@Model.Flight.DepartureDate.ToString()</p>

    <span class="strong-txt">Ciudad de origen:</span>
    <p>@Model.Flight.DepartureStation</p>

    <span class="strong-txt">Ciudad de destino:</span>
    <p>@Model.Flight.ArrivalStation</p>

    <aside>
        <span class="strong-txt">C&oacute;digo de reserva:</span>
        <p>@Model.Code</p>
    </aside>
</div>

<br />

@foreach (var i in Model.Passengers)
{
    <br />
    
    <h4>Pasajeros incluidos en la reserva:</h4>

    <div class="ticket">
        <div class="ticket-header">
            <h5>PASE DE ABORDAJE</h5>
        </div>
        <h5>Datos del pasajero:</h5>
        <p><span class="strong-txt">Nombre: </span> @i.Name</p>

        <hr />

        <h5>Datos de vuelo:</h5>

        <span class="strong-txt">Fecha de partida:</span>
        <p>@Model.Flight.DepartureDate.ToString("yyyy/MM/dd HH:mm")</p>

        <span class="strong-txt">Ciudad de origen:</span>
        <p>@Model.Flight.DepartureStation</p>

        <span class="strong-txt">Ciudad de destino:</span>
        <p>@Model.Flight.ArrivalStation</p>

        <aside>
            <span class="strong-txt">C&oacute;digo de reserva:</span>
            <p>@Model.Code</p>
        </aside>
    </div>

}

<br />

<div class="row">
    <form method="get">
        <div class="row">
            <div class="form-group col-md-4">
                <input type="submit" value="Finalizar" asp-action="SaveReservation" class="btn btn-primary btn-sm" />
            </div>
            <div class="form-group col-md-4">
                <input type="button" value="Cancelar" onclick="location.href='@Url.Action("Index", "Home")'" class="btn btn-primary btn-sm" />
            </div>
        </div>
    </form>
</div>



